<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h2 class="header-1">Search Employees</h2>
      </div>

      <div class="jumbotron">
        <div style="display: flex">
          <input
            id="searchText"
            type="text"
            class="form-control"
            placeholder="search employees"
            value="<%=text%>"
          />
          <button class="btn btn-primary" onclick="searchEmployees()">
            Search
          </button>
        </div>
      </div>

      <div class="jumbotron">
        <div class="employee-content">
          <%- include('../partials/employees.ejs') %>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
